.meal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 1rem 0;
}

.meal-item-main h3 {
  margin: 0;
}

.meal-item-main h4 {
  margin: 1rem 0 0 0;
}

.meal-item-main p {
  margin: 0;
  font-style: italic;
  font-size: 0.9rem;
}
