.meal-item-form {
  width: 10rem;
}

.input span {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.input input {
  width: 5rem;
}

.btn {
  width: 100%;
  border: none;
  background-color: brown;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}
